[submodule "themes/maupassant"]
	path = themes/maupassant
	url = https://github.com/rujews/maupassant-hugo.git
[submodule "public"]
	path = public
	url = https://github.com/xdjakiechen/jakiechen.github.io.git
